<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    
    <add name="CuaHangBanDiDongV1Entities" connectionString="metadata=res://*/CuaHangBanDienThoaiV1.csdl|res://*/CuaHangBanDienThoaiV1.ssdl|res://*/CuaHangBanDienThoaiV1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=CuaHangBanDiDongV1;user id=sa;password=Sa@12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>